*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .imgbox{
    position: relative;
    width: 512px;
    height: 512px;
    margin: 20px;
}
.container .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}